@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
  letter-spacing: 0.01em;
	color: #464646;

	background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.products-slider h2,
.advanteges-slider h2,
.info h2,
.contact h2,
.title-monopods{
  margin: 0;
  padding: 0;
	font-size: 47px;
	line-height: 54px;
	font-weight: bold;
	font-family: "Gilroy", sans-serif;
	color: #000000;
	letter-spacing: 0.01em;
}

.filter h3,
.sort h3{
  margin: 0;
  padding: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	font-family: "Gilroy", sans-serif;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.main-nav,
.drop-down-menu,
.popular-icon,
.slide-toggle,
.footer-info,
.footer-social,
.breadcrumbs,
.sort-list,
.additional-sort-list,
.drop-down-menu ul,
.navigation ol,
.delivery-service {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;
  background-image: -webkit-linear-gradient(#ffffff 40px, #f7e296 40px, #f7e296 186px, #ffffff 186px);
  background-image: -o-linear-gradient(#ffffff 40px, #f7e296 40px, #f7e296 186px, #ffffff 186px);
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px, #f7e296 186px, #ffffff 186px);
}

.logo {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.search-string {
  position: relative;
  width: 350px;
  height: 48px;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;

  background-color: #f7e296;

  border: none;
  color: #000000;
  opacity: 0.3;
  outline: none;


}

.search-string::before {
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  height: 20px;

  background: #f7e296 url(../img/search.svg) no-repeat center;
}

.btn-search {
  display: none;

  margin-left: -4px;
  padding: 0;
  width: 85px;
  min-height: 49px;
  border: 2px solid #000000;
  background-color: #f7e296;
  color: #000000;
  outline: none;
  cursor: pointer;
}

.search-string:hover {
  opacity: 0.6;
}

.search-string:focus {
  opacity: 1;
  border-bottom: 2px solid #000000;
}

.search-string:focus~.btn-search {
  display: inline-block;
}

.btn-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.wrap-user-menu {
  display: flex;
  width: 1040px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: baseline;
}

.wrap-user-menu svg {
  margin-right: 10px;
}

.user-menu {
  display: flex;
  width: 500px;
  margin-bottom: 37px;
}

.compare {
  margin-left: auto;
  margin-right: 37px;
}

.main-nav {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}

.main-nav a,
.footer-info a,
.popular-icon a,
.btn {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}

.main-nav .catalog {
  width: 540px;
}

.catalog svg {
  margin-left: 10px;
}

.main-nav .delivery {
  width: 160px;
}

.main-nav .warranty {
  width: 220px;
}

.main-nav .contacts {
  width: 120px;
}

.main-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu a:hover{
  opacity: 0.6;
}

.user-menu a:active{
  opacity: 0.3;
}

.drop-down-menu{
  display: flex;
  justify-content: space-between;
  width: 600px;
  z-index: 20;
}

.back-container {
  width: 100%;
  background-image: linear-gradient(#ffffff 160px, #e5e5e5 160px);
  z-index: 1;
}

.main-block p {
  margin: 0;
  padding: 0;
}

.main-block .catalog-container {
  display: flex;
  justify-content: space-between;
  background-image: -webkit-linear-gradient(#dcdcdc 70px, #eeeeee 70px);
  background-image: -o-linear-gradient(#dcdcdc 70px, #eeeeee 70px);
  background-image: linear-gradient(#dcdcdc 70px, #eeeeee 70px);
  background-position: left;
}

.catalog-container .product-container {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product .product-item {
  width: 360px;
}

.product-item h1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.product div {
  display: flex;
  width: 760px;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navigation {
  background-color: #ebebeb;
  text-align: center;
  margin-bottom: 73px;
}

.navigation li {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
}

.navigation li:last-child {
  padding-right: 0;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.products-slider {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 108px;
}

.products-slider .slider-controls {
  position: absolute;
  top:400px;
  left: 1000px;
  z-index: 20;
}

.products-slider .slide {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: -115px;
  padding-top: 42px;
  background-image: -webkit-linear-gradient(#f7e296 150px, #ffffff 150px);
  background-image: -o-linear-gradient(#f7e296 150px, #ffffff 150px);
  background-image: linear-gradient(#f7e296 150px, #ffffff 150px);
}


.products-slider .second-slide,
.products-slider .third-slide {
  position: absolute;
  display: none
}


.img-container {
  width: 560px;
}

.img-container img {
  display: block;
  margin: 0 auto;
}

.products-slider .slide-number {
  position: absolute;
  top: 30px;
  right: 48px;
  z-index: 1;
}

.slide .wrap-content {
  display: flex;
  flex-direction: column;
  width: 502px;
  padding-top: 82px;
  margin-right: 60px;
  z-index: 2;
}

.wrap-content h2 {
  margin-bottom: 22px;
}

.wrap-content p {
  margin-bottom: 42px;
}

.wrap-content .btn {
  display: inline-block;
  margin-bottom: 53px;
}

.features-item {
  /*width: 500px;*/
}

.features-item th{
  margin: 0;
  padding: 0;
  padding-right: 75px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 200;
  font-family: "Gilroy", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  text-align: left;
}

.features-item th:last-child {
  padding-right: 0;
}

.features-item td {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-size: 13px;
  line-height: 20px;
  color:#000000;
  vertical-align: bottom;
  text-align: left;
}

.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.popular-icon li{
  position: relative;
  display: inline-block;
  width: 160px;
  padding-top: 190px;
  margin-right: 35px;
  vertical-align: top;
}

.popular-icon li:last-child {
  margin-right: 0;
}


.popular-icon li::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #f0c52e;
}

.popular-icon .item::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background: #f7e296 url(../img/popular-1.svg) no-repeat center;
}

.popular-icon .monopods::after {
  background: #f7e296 url(../img/popular-2.svg) no-repeat center bottom;
}

.popular-icon .action-cam::after {
  background: #f7e296 url(../img/popular-3.svg) no-repeat center;
}
.popular-icon .fit-brac::after {
  background: #f7e296 url(../img/popular-4.svg) no-repeat center;
}
.popular-icon .smart-watch::after {
  background: #f7e296 url(../img/popular-5.svg) no-repeat center;
}
.popular-icon .quadrocopt::after {
  background: #f7e296 url(../img/popular-6.svg) no-repeat center;
}

.popular-icon .item:hover::after {
  background-color: transparent;
}
.popular-icon a:active {
  opacity: 0.3;
}

.popular-icon .item:active::before {
  background-color: rgba(240, 197, 46, 1);
}
.advantages {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 92px;
  padding: 0 20px;
  display: flex;
  min-height: 445px;
  align-items: center;
}

.advanteges-slider .slide {
  width: 460px;
}

.advanteges-slider .warranty-slide,
.advanteges-slider .credit-slide {
  display: none;
}

.logotypes {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 87px;
}

.logotypes a {
  display: block;
}

.wrap-info-contact {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.info {
  position: relative;
  width: 460px;
  padding-top: 50px;
}

.contact {
  position: relative;
  padding-top: 50px;
  width: 560px;
}

.info h2,
.contact h2 {
  margin-bottom: 40px;
}

.info p,
.contact p {
  letter-spacing: 0;
  margin-bottom: 30px;
}

.info h2::before,
.contact h2:before {
  content: "";

  position: absolute;
  top:0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  min-height: 325px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
}

.footer-middle p {
  margin: 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom a {
  display: inline-block;
}

.footer-info {
  margin-left: -10px;
  /*display: flex;
  width: 430px;
  justify-content: space-between;*/
}

.footer-info li{
  display: inline-block;
  margin-right: 2em;
}

.footer-user-menu .enter {
  margin-right: 60px;
}

.footer-social {
  display: flex;
  width: 660px;
}

.footer-social::before {
  content: "";
/*  display: inline-block;*/
  width: 80px;
  height: 7px;
  margin: auto auto auto 0;
  background-color: #ffc600;
}

.footer-social li{
  display: inline-block;
}

.logo-footer {
  color: #ffc600;
}

.logo:hover {
  opacity: 0.6;
  /*color: rgba(0, 0, 0, 0.6);*/
}

.logo:active {
  opacity: 0.3;
  /*color: rgba(0, 0, 0, 0.3);*/
}

.user-menu a{
  color: #000000;
}

.user-menu .btn-exit,
.footer-user-menu .btn-exit {
  border: none;
  box-shadow: none;
  outline: none;
}

.user-menu .btn-exit {
  background-color: #f7e296;
  opacity: 0.3;
}

.user-menu .btn-exit:hover {
  opacity: 0.6;
}

.user-menu .btn-exit:active {
  opacity: 1;
}

.footer-user-menu .btn-exit {
  background-color: #464646;
  color: #ffffff;
  opacity: 0.7;
}

.footer-user-menu .btn-exit:hover {
  opacity: 1;
}

.footer-user-menu .btn-exit:active {
  opacity: 0.3;
}

.drop-down-menu li {
  margin-bottom: 10px;
}

.drop-down-menu a{
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  letter-spacing: 0.01em;
}

.popular-icon a {
  display: inline-block;
  text-transform: none;
  letter-spacing: 0.01em;
}

.btn {
  position: relative;
  min-height: 40px;
}

.products-slider .btn {
  width: 220px;
  text-align: center;
}

.slide-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 172px;
  width: 280px;
  z-index: 2;

  /*outline: 1px solid red;*/
}

.slide-toggle .btn {
  width: 160px;
  padding: 0;

  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.slide-toggle .btn:active {
  color: #f7e184;
  background-color: #000000;
}

.info .btn,
.contact .btn {
  display: inline-block;
  width: 260px;
  text-align: center;
}

.form-btn {
  width: 200px;

  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slide-toggle .btn:before,
.products-slider .btn::before,
.info .btn::before,
.contact .btn::before,
.form-btn::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 8px;
  top: 8px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out;

  background-color: #f0c52e;
}

.slide-toggle .btn:before,
.form-btn::before {
  top:16px;
}

.slide-toggle .btn:hover::before,
.products-slider .btn:hover::before,
.info .btn:hover::before,
.contact .btn:hover::before,
.form-btn:hover::before {
  transform: scaleY(5);
}

 .slide-toggle .btn:active::after {
  content: " ";
  display: block;
  position: absolute;
  left: 160px;
  bottom: 0px;
  width: 118px;
  height: 40px;
  background-color: #000000;
  text-align: center;
}

.slide-number {
  font-size: 179.2px;
  line-height: 179.2px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.logotypes a {
  filter:
    saturate(0%) grayscale(100%);
  opacity: 0.3;
  transition: all 0.3s ease-out;
}

.logotypes a:hover {
  filter:
    saturate(100%);
  opacity: 1;
}

.delivery-service {
  margin-bottom: 60px;
  padding-top: 5px;
  padding-left: 20px;
}

.delivery-service li {
  padding-left: 15px;

  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #000000;

  list-style: circle;
}

.map-link {
  display: inline-block;
  padding-top: 7px;
  margin-bottom: 65px;
}

.main-footer {
  background-color: #464646;
}

.main-footer p {
  color: #ffffff;
}

.footer-info a{
  color: #ffffff;
}

.footer-info a:hover {
  opacity: 0.6;
}

.footer-info a:active {
  opacity: 0.3;
}

.footer-user-menu a {
  color: #ffffff;
  opacity: 0.7;
}

.footer-user-menu a:hover {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ebebeb;
  margin-bottom: 70px;
}

.sort li {
  display: inline-block;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  color: #000000;
  opacity: 0.3;
}

.sort a:hover {
  opacity: 0.6;
}

.sort a:active {
  opacity: 1;
}

.title-monopods

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a{
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.filter {
  width: 200px;
  margin-left: 60px;
}


.filter legend {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter label {
  font-size: 14px;
  line-height: 40px;
}

.modal-write-us .form-field{
  width: 360px;
  height: 50px;
}
.modal-write-us .text-area {
  width: 760px;
  height: 160px;
}


.modal-write-us .form-field,
.modal-write-us .text-area{
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #f2f2f2;
}

.modal-write-us .form-field:hover,
.modal-write-us .text-area:hover {
  background-color: #ebebeb;
}

.modal-write-us .form-field:focus,
.modal-write-us .text-area:focus {
  border: 2px solid #f7e296;
  background-color: #ffffff;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  color: #000000;
}
