@font-face {
  font-family: "Gilroy";
  font-style: normal;

  src: url("../font/gilroy-extrabold-webfont.woff2") format("woff2"),
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;

  src: url("../font/gilroy-light-webfont.woff2") format("woff2"),
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;

  min-width: 1200px;
  margin: 0;
  padding: 0;

  letter-spacing: 0.01em;

  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.products-slider h2,
.advanteges-slider h2,
.info h2,
.contact h2,
.title-monopods {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: 54px;

  margin: 0;
  padding: 0;

  letter-spacing: 0.01em;

  color: #000000;
}

.filter h3,
.sort h3,
.sort-container span {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;

  margin: 0;
  padding: 0;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.main-nav,
.drop-down-menu,
.popular-icon,
.slide-toggle,
.footer-info,
.footer-social,
.breadcrumbs,
.sort-list,
.additional-sort-list,
.drop-down-menu ul,
.navigation,
.navigation ol,
.delivery-service {
  margin: 0;
  padding: 0;

  list-style: none;
}



.main-header .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 60px;

  background-image: -webkit-linear-gradient(#ffffff 40px, #f7e296 40px);
  background-image:      -o-linear-gradient(#ffffff 40px, #f7e296 40px);
  background-image:         linear-gradient(#ffffff 40px, #f7e296 40px);
}

.logo {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;

  display: inline-block;

  margin-top: 12px;
  margin-bottom: 5px;
  padding: 0;

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #000000;
}

.search-string {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;

  position: relative;

  width: 350px;
  height: 48px;
  margin: 0;
  padding: 0;
  padding-left: 35px;

  opacity: 0.3;
  color: #000000;
  border: none;
  outline: none;
  background-color: #f7e296;
}

.btn-search {
  display: none;

  width: 85px;
  min-height: 49px;
  margin-left: -4px;
  padding: 0;

  cursor: pointer;

  color: #000000;
  border: 2px solid #000000;
  outline: none;
  background-color: #f7e296;
}

.search-string:hover {
  opacity: 0.6;
}

.search-string:focus {
  opacity: 1;
  border-bottom: 2px solid #000000;
}

.search-string:focus ~ .btn-search {
  display: inline-block;

  vertical-align: bottom;
}

.btn-search:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn-search:active {
  display: inline-block;

  color: rgba(255, 255, 255, 0.3);
}

.find-form {
  position: relative;
}

.find-form svg {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 3px;
}

.wrap-user-menu {
  display: flex;

  width: 1040px;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  justify-content: space-between;
  align-items: baseline;
}

.user-menu svg {
  margin-right: 10px;
}

.user-menu {
  display: flex;

  width: 500px;
}

.compare {
  margin-right: 37px;
  margin-left: auto;
}

.main-nav {
  display: flex;

  width: 1040px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 45px;

  justify-content: space-between;
}

.main-nav a,
.footer-info a,
.popular-icon a,
.btn {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.main-nav .catalog {
  position: relative;

  width: 540px;
}

.catalog svg {
  margin-left: 10px;
}

.main-nav .delivery {
  width: 160px;
}

.main-nav .warranty {
  width: 220px;
}

.main-nav .contacts {
  width: 120px;
}

.main-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu a:hover {
  opacity: 0.6;
}

.user-menu a:active {
  opacity: 0.3;
}

.drop-down-menu {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: -60px;

  display: none;

  width: 1160px;
  padding-top: 25px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 60px;

  background-color: #f7e296;
}

.catalog-link:hover ~ .drop-down-menu {
  z-index: 3;

  display: inline-block;
}

.catalog-link svg {
  opacity: 0.3;
}

.drop-down-menu:hover {
  z-index: 3;

  display: inline-block;
}

.drop-down-menu ul {
  display: inline-block;

  min-width: 200px;
  max-width: 300px;
  padding-right: 40px;

  vertical-align: top;
}

.back-container {
  z-index: 1;

  width: 100%;

  background-image: linear-gradient(#ffffff 160px, #e5e5e5 160px);
}

.main-block p {
  margin: 0;
  padding: 0;
}

.title-monopods {
  margin-bottom: 18px;
}

.main-block .catalog-container {
  display: flex;

  min-width: 1200px;
  margin: 0 auto;

  outline: 1px solid yellow;
  background-image: -webkit-linear-gradient(left, #eeeeee 50%, #ffffff 50%);
  background-image: -o-linear-gradient(left, #eeeeee 50%, #ffffff 50%);
  background-image: linear-gradient(to right, #eeeeee 50%, #ffffff 50%);

  justify-content: center;
}


.title {
  width: 1200px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 0 20px;
  padding-left: 80px;
}

.filter {
  padding-right: 70px;
  padding-left: 80px;
}

.filter-form {
  width: 200px;
}


.filter-form legend {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  letter-spacing: 0.01em;

  color: #000000;
}

.filter-form label {
  font-size: 14px;
  line-height: 40px;
}

.filter-form fieldset{
  display: flex;
  border: none;
}

.filter-form input[type="checkbox"],
.filter-form input[type="radio"] {
  display: none;
}

.catalog-container .product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;

  background-color: #ffffff;
  padding-left: 50px;
  box-sizing: content-box;
}

.product {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 70px;
}

.product .product-item {
  position: relative;

  width: 360px;
  margin-bottom: 30px;
}

.product-item h1 {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  display: inline-block;
  width: 260px;
  letter-spacing: 0.01em;

  color: #000000;
}

.product-item img {
  margin-bottom: 10px;
}

.product div {
  display: flex;

  width: 760px;
  margin-bottom: 50px;

  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 73px;

  text-align: center;

  background-color: #ebebeb;
}

.navigation li {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;

  /*text-align: left;*/
  letter-spacing: 0.01em;

  display: inline-block;

  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.navigation li:first-child {

}

.navigation li:last-child {
  padding-right: 0;
}


.products-slider {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 108px;
  padding: 0 20px;
}

.products-slider .slider-controls {
  position: absolute;
  z-index: 20;
  top: 400px;
  left: 1000px;
}

.products-slider .slide {
  position: relative;

  display: flex;

  margin-top: -40px;
  padding-top: 45px;

  background-image: -webkit-linear-gradient(#f7e296 155px, #ffffff 155px);
  background-image: -o-linear-gradient(#f7e296 155px, #ffffff 155px);
  background-image: linear-gradient(#f7e296 155px, #ffffff 155px);

  justify-content: space-between;
}


.products-slider .second-slide,
.products-slider .third-slide {
  position: absolute;

  display: none;
}


.img-container {
  width: 560px;
}

.img-container img {
  display: block;

  margin: 0 auto;
}

.products-slider .slide-number {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 48px;
}

.slide .wrap-content {
  z-index: 2;

  display: flex;
  flex-direction: column;

  width: 502px;
  margin-right: 60px;
  padding-top: 82px;
}

.wrap-content h2 {
  margin-bottom: 22px;
}

.wrap-content p {
  margin-bottom: 50px;
}

.wrap-content .btn {
  display: inline-block;

  margin-bottom: 45px;

  vertical-align: middle;
}

.features-item {
  /*width: 500px;*/
}

.features-item th {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  font-weight: 200;
  line-height: 40px;

  margin: 0;
  padding: 0;
  padding-right: 75px;

  text-align: left;
  letter-spacing: 0.01em;

  color: #000000;
}

.features-item th:last-child {
  padding-right: 0;
}

.features-item td {
  font-size: 13px;
  line-height: 20px;

  margin: 0;
  padding: 0;
  padding-top: 8px;

  text-align: left;
  vertical-align: bottom;

  color: #000000;
}

.popular {
  display: flex;

  margin-bottom: 25px;

  align-items: center;
  justify-content: center;
}

.popular-icon li {
  position: relative;

  display: inline-block;

  width: 160px;
  margin-right: 35px;
  padding-top: 190px;

  vertical-align: top;
}

.popular-icon li:last-child {
  margin-right: 0;
}


.popular-icon li::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  content: "";

  background-color: #f0c52e;
}

.popular-icon .item::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  content: "";

  background: #f7e296 url(../img/popular-1.svg) no-repeat center;
}

.popular-icon .monopods::after {
  background: #f7e296 url(../img/popular-2.svg) no-repeat center bottom;
}

.popular-icon .action-cam::after {
  background: #f7e296 url(../img/popular-3.svg) no-repeat center;
}
.popular-icon .fit-brac::after {
  background: #f7e296 url(../img/popular-4.svg) no-repeat center;
}
.popular-icon .smart-watch::after {
  background: #f7e296 url(../img/popular-5.svg) no-repeat center;
}
.popular-icon .quadrocopt::after {
  background: #f7e296 url(../img/popular-6.svg) no-repeat center;
}

.popular-icon .item:hover::after {
  background-color: transparent;
}
.popular-icon a:active {
  opacity: 0.3;
}

.popular-icon .item:active::before {
  background-color: rgba(240, 197, 46, 1);
}
.advantages {
  display: flex;

  width: 1200px;
  min-height: 445px;
  margin: 0 auto;
  margin-bottom: 92px;
  padding: 0 20px;

  align-items: center;
}

.advanteges-slider {
  margin-left: 120px;
}

.advanteges-slider .slide {
  display: inline-block;

  width: 460px;
  padding-bottom: 20px;
}

.advanteges-slider h2 {
  margin-bottom: 30px;
}

.advanteges-slider .warranty-slide,
.advanteges-slider .credit-slide {
  display: none;
}

.logotypes {
  display: flex;

  width: 1200px;
  margin: 0 auto;
  margin-bottom: 87px;

  justify-content: space-around;
}

.logotypes a {
  display: block;
}

.wrap-info-contact {
  display: flex;

  width: 1200px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0 20px;

  justify-content: space-between;
  flex-wrap: wrap;
}

.info {
  position: relative;

  width: 460px;
  padding-top: 50px;
}

.contact {
  position: relative;

  width: 560px;
  padding-top: 50px;
}

.info h2,
.contact h2 {
  margin-bottom: 40px;
}

.info p,
.contact p {
  margin-bottom: 30px;

  letter-spacing: 0;
}

.info h2::before,
.contact h2:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  content: "";

  background-color: #000000;
}

.main-footer .container {
  display: flex;
  flex-direction: column;

  width: 1200px;
  min-height: 325px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;

  padding-top: 30px;

  justify-content: space-between;
  align-items: center;
}

.footer-middle {
  display: flex;

  margin-bottom: 60px;

  justify-content: space-between;
  align-items: baseline;
}

.footer-middle p {
  margin: 0;
}

.footer-bottom {
  display: flex;

  width: 660px;
  margin-left: auto;

  justify-content: space-between;
}

.footer-bottom .htmlacademy-link {
  font-size: 0;

  position: relative;

  color: transparent;
}

.footer-bottom .htmlacademy-link::before {
  position: absolute;
  top: 2px;
  right: 0;

  width: 36px;
  height: 36px;
  margin-right: -5px;

  content: "";

  background: url(../img/logo-html.svg) no-repeat center;
}

.footer-bottom .htmlacademy-link:hover::before {
  opacity: 0.6;
}

.footer-bottom .htmlacademy-link:active::before {
  opacity: 0.3;
}

.footer-info {
  margin-left: -10px;
  /*display: flex;
  width: 430px;
  justify-content: space-between;*/
}

.footer-info li {
  display: inline-block;

  margin-right: 2em;

  vertical-align: baseline;
}

.footer-user-menu .enter {
  margin-right: 60px;
}

.footer-social {
  position: relative;

  display: flex;

  width: 165px;

  flex-wrap: wrap;
}

.footer-social::before {
  position: absolute;
  top: 20px;
  /*  display: inline-block;*/
  left: -500px;

  width: 80px;
  height: 7px;
  margin: auto auto auto 0;

  content: "";

  background-color: #ffc600;
}

.footer-social li {
  position: relative;
}

.footer-social .social-btn {
  font-size: 0;

  position: relative;

  display: inline-block;

  box-sizing: content-box;
  width: 32px;
  height: 32px;
  padding-right: 22px;

  opacity: 0.3;
}

.footer-social .social-btn:hover {
  opacity: 0.6;
}

.footer-social .social-btn:active {
  opacity: 0.1;
}

.footer-social .social-btn-fb::before {
  position: absolute;
  top: 0;
  left: 50%;

  width: 32px;
  height: 32px;
  margin-left: -16px;

  content: "";

  background: url(../img/fb.svg) no-repeat center;
}

.footer-social .social-btn-inst::before {
  position: absolute;
  top: 0;
  left: 50%;

  width: 32px;
  height: 32px;
  margin-left: -16px;

  content: "";

  background: url(../img/instagram.svg) no-repeat center;
}

.footer-social .social-btn-twit::before {
  position: absolute;
  top: 0;
  left: 50%;

  width: 32px;
  height: 32px;
  margin-left: -16px;

  content: "";

  background: url(../img/twitter.svg) no-repeat center;
}

.logo-footer {
  color: #ffc600;
}

.logo:hover {
  opacity: 0.6;
  /*color: rgba(0, 0, 0, 0.6);*/
}

.logo:active {
  opacity: 0.3;
  /*color: rgba(0, 0, 0, 0.3);*/
}

.user-menu a {
  color: #000000;
}

.user-menu .btn-exit,
.footer-user-menu .btn-exit {
  border: none;
  outline: none;
  box-shadow: none;
}

.user-menu .btn-exit {
  opacity: 0.3;
  background-color: #f7e296;
}

.user-menu .btn-exit:hover {
  opacity: 1;
}

.user-menu .btn-exit:active {
  opacity: 0.6;
}

.footer-user-menu .btn-exit {
  opacity: 0.7;
  color: #ffffff;
  background-color: #464646;
}

.footer-user-menu .btn-exit:hover {
  opacity: 1;
}

.footer-user-menu .btn-exit:active {
  opacity: 0.3;
}

.drop-down-menu li {
  margin-bottom: 10px;
}

.drop-down-menu a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;

  letter-spacing: 0.01em;
  text-transform: none;
}

.popular-icon a {
  display: inline-block;

  letter-spacing: 0.01em;
  text-transform: none;
}

.btn {
  position: relative;

  min-height: 40px;
}

.products-slider .btn {
  width: 220px;

  text-align: center;
}

.slide-toggle {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;

  width: 280px;
  min-height: 172px;

  justify-content: space-between;
  /*outline: 1px solid red;*/
}

.slide-toggle::after {
  position: absolute;
  right: -4px;
  bottom: -40%;

  width: 8px;
  height: 320px;

  content: "";

  background-color: #000000;
}

.slide-toggle .btn {
  width: 160px;
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.slide-toggle .btn:active {
  color: #f7e184;
  background-color: #000000;
}

.info .btn,
.contact .btn {
  display: inline-block;

  width: 260px;

  text-align: center;
  vertical-align: middle;
}

.form-btn {
  width: 200px;

  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slide-toggle .btn:before,
.products-slider .btn::before,
.info .btn::before,
.contact .btn::before,
.form-btn::before {
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 0;

  width: 100%;
  height: 8px;

  content: "";
  transition: all 0.3s ease-out;

  background-color: #f0c52e;
}

.slide-toggle .btn:before,
.form-btn::before {
  top: 16px;
}

.slide-toggle .btn:hover::before,
.products-slider .btn:hover::before,
.info .btn:hover::before,
.contact .btn:hover::before,
.form-btn:hover::before {
  transform: scaleY(5);
}

.slide-toggle .btn:active::after {
  position: absolute;
  bottom: 0;
  left: 160px;

  display: block;

  width: 118px;
  height: 40px;

  content: " ";
  text-align: center;

  background-color: #000000;
}

.slide-number {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 179.2px;
  font-weight: bold;
  line-height: 179.2px;

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #ffffff;
}

.logotypes a {
  transition: all 0.3s ease-out;

  opacity: 0.3;

  filter: saturate(0%) grayscale(100%);
}

.logotypes a:hover {
  opacity: 1;

  filter: saturate(100%);
}

.delivery-service {
  margin-bottom: 60px;
  padding-top: 5px;
  padding-left: 20px;
}

.delivery-service li {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;

  padding-left: 15px;

  list-style: circle;

  color: #000000;
}

.map-link {
  display: inline-block;

  margin-bottom: 65px;
  padding-top: 7px;
}

.main-footer {
  background-color: #464646;
}

.main-footer p {
  color: #ffffff;
}

.footer-info a {
  color: #ffffff;
}

.footer-info a:hover {
  opacity: 0.6;
}

.footer-info a:active {
  opacity: 0.3;
}

.footer-user-menu a {
  /*opacity: 0.7;*/
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a:hover {
  color: #ffffff;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-user-menu svg {
  margin-right: 10px;

  opacity: 1;
}

.footer-user-menu a:hover > svg {
  opacity: 0.6;
}

.footer-user-menu path {
  fill: #ffc600;
}

.sort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -webkit-linear-gradient(left, #dcdcdc 50%, #ebebeb 50%);
  background-image: -o-linear-gradient(left, #dcdcdc 50%, #ebebeb 50%);
  background-image: linear-gradient(to right, #dcdcdc 50%, #ebebeb 50%);
}

.sort-container span {
  display: inline-block;
  width: 350px;
  padding-left: 80px;
}

.conteiner-center {
  margin: 0 auto;
}

.sort {
  display: flex;
  width: 850px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 70px;

  background-color: #ebebeb;

  justify-content: space-between;
  align-items: baseline;
}

.sort li {
  display: inline-block;

  vertical-align: middle;
}

.sort a {
  font-size: 14px;
  line-height: 18px;

  letter-spacing: normal;

  opacity: 0.3;
  color: #000000;
}

.sort a:hover {
  opacity: 0.6;
}

.sort a:active {
  opacity: 1;
}

.breadcrumbs {
  margin-bottom: 45px;
}


.breadcrumbs li {
  position: relative;

  display: inline-block;

  padding-left: 30px;
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs li::before {
  position: absolute;
  top: 0;
  left: 10px;

  width: 10px;
  height: 30px;

  content: "";

  background: url(../img/nav-arrow.svg) no-repeat center;
}

.breadcrumbs li:first-child::before {
  display: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 18px;

  opacity: 0.3;
  color: #000000;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}



.modal-write-us .form-field {
  width: 360px;
  height: 50px;
}
.modal-write-us .text-area {
  width: 760px;
  height: 160px;
}

.modal-write-us .form-field,
.modal-write-us .text-area {
  border: none;
  outline: none;
  background-color: #f2f2f2;
  box-shadow: none;
}

.modal-write-us .form-field:hover,
.modal-write-us .text-area:hover {
  background-color: #ebebeb;
}

.modal-write-us .form-field:focus,
.modal-write-us .text-area:focus {
  border: 2px solid #f7e296;
  background-color: #ffffff;
}

.modal-write-us label {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  color: #000000;
}
